<div class="row g-4 mb-4">
    <div class="col-6">
        <div class="card text-white bg-success shadow-sm h-100">
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Receita do Mês</h6>
                <h4 class="fw-bold mb-0">{{ receita_mes|currency }}</h4>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-white bg-danger shadow-sm h-100">
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Despesa do Mês</h6>
                <h4 class="fw-bold mb-0">{{ despesa_mes|currency }}</h4>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h6 class="card-subtitle text-muted mb-2">Saldo do Mês</h6>
                <h4 class="fw-bold mb-0">{{ saldo_mes|currency }}</h4>
            </div>
        </div>
    </div>
</div>