{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<style>
    .login-body {
        background-color: #f0f2f5;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 1rem;
    }
    [data-bs-theme="dark"] .login-body {
        background-color: #000;
    }
</style>
{% endblock %}

{% block body_content %}
<body class="login-body">
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="main-content-container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/pwa_install.js') }}" defer></script>
{% endblock %}